
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;

}
.navbar-brand{
  font-size: 1.3rem !important;
  color: #565387;
}
.brand-name{
  color: #3498db;
}
.navbar a{
  font-size: 1rem;
  text-transform: capitalize;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar a:hover{
  color: #3498db;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display:inline-block;
  padding: 10px 30px;
  border: 3px solid #3498db ;
  border-radius: 50px;
  color: #3498db;
  text-decoration: none;
}
#header .btn-get-started :hover{
  background:#3498db;
  color: white;
}
#header-img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
  @keyframes up-down {
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
.img{
  
  height: 250px;
}
@media( max-width: 991px ){
  .navbar-brand{
    font-size: 1rem !important;
    color: #565387;
  }
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
}